{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<body>
    <b style="color: blue;">
        {% if msg %}
            {{msg}}
        {% endif %}
    </b>
    <form name="forgot-password" method="post" action="{% url 'forgot-password' %}">
        {% csrf_token %} 
        <table>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" name="submit" value="SEND OTP" class="btn btn-primary">
                </td>
            </tr>
            
        </table>

    </form>
</body>
    
</html>
{% endblock %}